  /********** Base styles **********/

* {
  box-sizing: border-box;
  font-family: Arial Rounded MT Bold, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Playbill, Arial Rounded MT Bold, Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
  padding: 4%;
  font-size: 175%
}

.row {
  width: 31.33%;
  float: left;
  border: 1px solid black;
  height: 100px;
  margin-left: 1.5%;
  overflow: hidden;
}    

.row h2 {
  padding: 1%;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  color: white;
  width: 35%;
  height: 35px;
  float: right;
  text-align: center;
  font-size: 125%
}

div > div:first-child h2{
  background-color: red;
}

div > div:nth-child(2) h2{
  color: black;
  background-color: beige;
}

div > div:last-child h2{
  background-color:blue;
}

div > div p {
  padding: 2%;
  margin: 2%;
  text-align: left;
  clear: both;
  font-size: 100%
}

  /********** Tablet view **********/
@media (min-width: 768px) and (max-width: 991px) {
  .row {
    width: 47%;
    margin-left:2%;
  }

  .row:last-child{
    margin-top: 2%;
    margin-bottom: 3%;
    width:96%;
  }

  .row:last-child h2{
    width: 15%;
  }
}

  /********** Mobile **********/
  @media (max-width:768px){
  .row{
    width:96%;
    margin-left:2%;
    margin-top:2%;
  }

  .row:last-child{
    margin-bottom: 3%;
  }
}